* {
    margin:  0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #303030;
    color:            #FFFFFF;
    width:           100%;
    height:          475px;
    padding:         60px;
    gap:             15px;
    flex-direction:  column;
    justify-content: center;
    display:         flex;
}

#header-title {
    font-weight: 600;
    font-size:   60px;
}

#header-text {
    font-size:   20px;
    font-weight: 500;
}

#secao_dados {
    font-weight:     600;
    width:           100%;
    height:          229px;
    font-size:       40px;
    gap:             110px;
    display:         grid;
    grid-auto-flow:  column;
    align-items:     center;
    justify-content: center;
    background-color: #F9F9F9;
    color:            #000000;
}

#secao_dados > div {
    display:         flex;
    flex-direction:  column;
    align-items:     flex-start;
    justify-content: center;
}

.dados_numero {
    margin-top:  50px;
    font-size:   40px;
    font-weight: 600;
}

.dados_texto {
    margin-top:  6px;
    font-size:   20px;
    font-weight: 400;
}

#secao-historia {
    display: grid;
    grid-auto-flow: column;
    font-size: 40px;
    font-weight: 500;
    align-items: center;
    padding: 90px;
    padding-right: 20px;
}

.secao-hitoria-frase {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.secao-historia-text {
    font-size: 24px;
    font-weight: 300;
}

footer {
    color: #FFFFFF;
    background-color: #303030;

    width:          100%;
    height:         638px;
    font-size:      32px;
    gap:            60px;
    font-weight:    bold;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

input {
    width:         508px;
    height:        72px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px;
}

button {
    height: 74px;
    width: 286px;
    border-radius: 12px;
    background-color: #C07212;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b46402;
}

